@media (max-width: 992px){
    #header .social-icon a {
        font-size: 11px; 
    }
}
@media (max-width:767px){
    #header{
        z-index: 1;
    }
    #header .toggle-button {
        display: block;
    }
    #header .toggle-button:hover {
    color: #f0ad4e;
    border: 1px solid #d9534f ;
    }  
}

@media (max-width:495px){
    .responsive-font {
        font-size: 20px;
    }
}
