@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rambla:wght@700&family=Staatliches&display=swap');

html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches',cursive;
    --font-os: 'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif; 
}

/* global classes */
.font-staat {
    font: normal 400 18px var(--font-staat);
}
.font-os {
    font: normal 300 18px var(--font-os);
}
.font-ram {
    font: normal bold 18px var(--font-ram);
}
.font-size-40 {
    font-size: 40px;
}
.font-size-34 {
    font-size: 34px;
}
.font-size-27 {
    font-size: 27px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-16 {
    font-size: 16px;
}
.bg-color-black {
    background: var(--color-black);
}


/* main CSS */

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
#header nav {
    min-height: 100vh;
}
#header .site-title .navbar-brand {
    color: var(--color-white);
    letter-spacing: 5px;
}
#header nav .nav-link{
    margin: 0.7rem 1rem;;
    border-bottom: 1px solid var(--color-border);
}
#header nav .nav-link:hover{
    color: var(--color-white) !Important;
}
#header .social-icon {
    position: absolute;
    bottom: 10px;
    left:0;
    right: 0;
    
}
#header .social-icon a {
    padding: 5px;
    color: var(--color-white);
}
#header .toggle-button {
    background: none;
    position: fixed;
    color: #d9534f ;
    top: 25px;
    right: 25px; 
    border: 1px solid #f0ad4e ;
    display: none;
    
}

/* Banner Area */
#site-main {
    overflow: hidden;
}
.banner-area {
    min-height: 100vh;
    background: url('../img/banner.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;   
}
.dark-overlay {
    background: rgba(0,0,0,0.8);
    min-height: 100vh;
}
#home .author {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#home .author .author-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url('../img/rakib.jpeg') no-repeat;
    background-size: cover;
    background-position: center; 
}

/* About Section */
#about-me .img-shadow{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.skil-sec {
    background: rgba(0,0,0,0.1)
}
svg.radial-progress circle{
    stroke-width: 3;
}
svg.radial-progress text {
    fill: #333;
    font-size: 10px;
}
svg.html-css circle {
    stroke: #74b9ff;
}
svg.bootstrap circle {
    stroke: #ff7675;
}
svg.jquery circle {
    stroke: #00b894;
}
/* #About Section */






